<div id="clientsBg"></div>
<div id="clients">
    <div ng-if="user_type != 'professional'" class="container">
        <h3 class="ef-header">What can I expect from Online Training or Nutritional Coaching?</h3>
        
        <p>Congratulations on taking a step to becoming a healthier you! We will be with you every step of the way to encourage, motivate, and connect you with Professionals who genuinely love what they do... helping others succeed! We have all attempted to start a new workout plan and clean up our diets, but sticking to a regiment  can at often times prove daunting, ultimately leading to just giving up. Don't get discouraged... You can do it!  Accountability and perseverance are key in fitness.  Having a Professional Trainer and/or Nutritionist to hold you accountable and regularly check up on you is a sure-fire way to stay focused! Get to know the EverFit Professionals via their blogs and posts.  Find a Pro whom you feel is a good fit for you and get it done!</p> 

        <p>We can give you the tools and resources for success, but it is ultimately you holding the key... "the desire".  Our bodies are our temples, and we only get one... so let's make the best of it!  Healthy body, healthy mind, better quality of life... it's never to late to turn over a new leaf!  Make the "conscious decision" to get your Health &amp; Wellness in check... then follow through! Who knows, maybe there will even be a marathon in your future! </p>

        <p>At EverFit, we are genuinely fueled by your success and watching you grow as an athlete. We kindly thank you for your interest in EverFit and we hope to see you around!  Aim high, train hard, love life, and be kind to one another.</p>

        <p>If you have any questions/comments and/or feedback, please do not hesitate to reach out to us at <a href="mailto:customerservice@liveeverfit.com">customerservice@liveeverfit.com</a>, or via the Contact Page. Have an outstanding day, and don't forget to tell yourself how awesome you are! Live EverFit!</p>

    </div>
    <div ng-if="user_type == 'professional'" class="container">
        <h3 class="ef-header">what do i owe my clients?</h3>

        <p>As a fitness professional, your friends, family and clientele look up to you for guidance through the vast amount of fitness information. The more active you are on your blog, and client interactions, ultimately the more successful you will be.</p>
            
        <p>Potential clients will have the ability to reach out to you via messaging and the “Train with Me” button located on your profile page. This button will become visible when you have selected “Accepting Clients?” in your profile settings. </p>
        
        <p>As a promoter, your audience will all interact with you via messaging and blog comments. Share and grow your following and income by sharing the link via the “AFFILIATE” button on your profile page. </p>

        <p>You can turn ON or OFF your online Training ability at any time inside of your Settings. </p>

        <h3>Be fit and LIVE EVERFIT!</h3>

        <p>If you have any questions or concerns do not hesitate to contact us at <a href="mailto:customerservice@liveeverfit.com">customerservice@liveeverfit.com</a> ,or via the Contact Us tab located on the top of your screen. </p>

    </div>
</div>