<div id="faqBg"></div>
<div id="faq">
<div class="container">
<h3 class="ef-header">faq</h3>

<div ng-if="user_type == 'professional'" class="row">
<div class="col-sm-12">
    <h3>How do I know if I have a new client?</h3>
<p>You will be contacted via email and should receive the Completed Health Questionnaire from your new client.  To fulfill you commitment as an Ever Fit Pro you must respond within 48 hours.  Also, located under the STATS tab on your profile page you can visualize your client data base. They are amped to train with you so please respond promptly.</p>

<h3>How do I know my sales to date?</h3>
<p>We all want to know how our effort is paying off.  Well we have that covered for you in an easy to read format. Please refer to the STATS tab inside or your profile. Also, stay tuned for a much more in-depth release of your earning stats in EverFit 3.0 launch this fall!</p>

<h3>How do I cancel my account?</h3>
<p>You can cancel your membership by following the prompts under the settings tab in your profile drop down. </p>

<h3>How do I get paid?</h3>
<p>Please refer to the document “How do I make Money?” located in your dashboard. Upon account activation you will be emailed a W9, and ACH form.  BOTH of these will need to be completed in order for you to receive your monthly commission payment. If you do not receive an email from us within 24 hours, please contact the EverFit Team at payroll@liveevefit.com . </p>

<h3>Can I turn of my ability to accept more clients?</h3>
<p>Yes, on your profile page you will see a “settings” link.  Click the link, then edit, and turn accepting clients from on to off.</p>

<h3>I’m having difficulty learning the site, how can I view the tutorial?</h3>
<p>We are sorry you’re having a hard time, but to make things easier on you we put a tutorial in the upper right hand corner of your home page. For immediate assistance you can also utilize our live chat feature on the EverFit Store page, or email us at customerservice@liveeverfit.com </p>

<h3>My client lives locally, how does that work?</h3>
<p>EverFit takes no part in you training your clients in person, except by bringing you more! To offer your client the best pricing on supplements and equipment they can sign up for free and still shop, just make sure they sign up from your affiliate link located on your profile, so you get credit for their purchases! It is a win-win for everyone!</p>


<h3>As a Fitness Trainer/Promoter, what can Ever Fit™ do for you?</h3>

<p>Ever Fit’s goal is simply to bring Clients and Trainers together in a unique and rewarding way. We are going to reach potential training clients by offering fitness videos of all types, LIVE online fitness classes and the equipment/nutrition tools necessary to go along with the personal training all on one easy to use fitness website. By providing all of this for multiple types of training and through multiple different trainers, we can help many more individuals reach their fitness goals together than we could ever do on our own.</p>

<p>In addition to helping these individuals with their personal fitness, our goal is to reward fitness Trainers/Promoters for their vital role by providing passive income through the continuous sale of all our fitness supplements, food, clothing, music, equipment and LIVE fitness classes. From your first day with EverFit™ you can begin to earn income. Whether your goal is to use and encourage others to use the products on our website or develop a retail Client base, the EverFit™ Success Plan offers you lucrative and non-complex reward structure. The rewards include: Multiple Sales Commissions, cash bonuses and annual “Top Producer” Trips at the most luxurious locations around the world!</p>

<p>LiveEverFit.com can help both Trainers and Clients who are looking for Quality Training and Fitness Products in a way that no one has done before—through one truly all-inclusive fitness network website. EverFit™ is the “one stop shop” for your clientele featuring: </p>
<ul>
    <li>Locally grown organic food right to their door</li>
    <li>Discounted supplements</li>
    <li>Discounted fitness equipment featured in your training videos</li>
    <li>High quality custom clothing line just for you and your clients</li>
</ul>

<p>LiveEverFit.com will provide Trainers</p>
<ul>
<li>Increased monthly income from online product sales, giving you a higher income while working fewer hours each day. </li>
<li>Increased flexibility to work online when your schedule allows, giving you more of a personal life. </li>
<li>Increased Online presence through a nation-wide, branded website that empowers you.</li>
<li>A Training Network, advertising together for a common goal.</li>
<li>A storefront stocked with over 1000 pieces of fitness products.</li>
<li>A professional line of clothing that was designed by Trainers for themselves and their Clients. </li>
<li>Music produced by global DJ’s that will keep you and your clients moving.</li>
</ul>

<p>I have spoken with many Trainers who currently have their own training website and many of them have the same issues:</p>
<ul>
<li>It’s a great way to diversify the time available in each day to generate addition income, but trying to create a nationally recognized brand is very expensive and near impossible for one trainer to do on their own. Most of the Trainer’s branded clothing line ends up being a T-shirt with a logo on it, which was cool for a couple weeks; then became a headache and not worth the effort over time. </li>
<li>A typical individual Trainer’s site will never be seen by the vast majority of potential Clients that are looking for a Personal Trainer and an all-inclusive training website. With thousands of training websites it’s easy for most of these individual sites to become lost within the worldwide sea of fitness and training sites. By combining the marketability of these individual sites into one singular marketing force along with a complete fitness storefront, EverFit™ will become a nationally recognized brand very quickly. </li>
<li>Daily maintenance of a website can be more time consuming and costly than initially anticipated. Very often their website ends up being outdated and unproductive in general. </li>
</ul>

<p>By providing all of the upfront and continual maintenance costs for the website as well as a storefront, LiveEverFit.com allows the Trainers to concentrate on what they do best—training their Clients. Our goal is to maximize each Trainer’s income potential. With our help, Trainers can make an unlimited amount of passive income through commissions paid from product sales on the LiveEverfit.com website. This, in addition to our global advertising, will ensure that LiveEverFit.com becomes a mainstream website, not just another individual training site.</p>

<h3>Trainer’s Compensation</h3>

<p>The tools LiveEverFit.com provides will help each Trainer with personal promotion by giving them a professional brand to represent and the marketing tools to allow an unlimited second income stream through online sales. This will truly maximize each Personal Trainer’s income potential through:</p>
<ul>
<li>online purchases of fitness products from users and professionals tied to your affiliate link. </li>
<li>in-person training sales from the Subscribers who live in your area.</li>
</ul>


<p>To be an active Trainer there must be (5) completed videos uploaded to the Trainers blog inside the EverFit™ website, unless chosen to proceed without videos at the time of sign up. See Terms and Conditions for video timeline and structure requirements. To remain an Active Trainer once the videos are loaded your total sales must be at least $100 per month and you must renew you membership annually for $100.00. Every trainer I have talked to says that just one of their clients could spend easily 2x this amount monthly, so this should not serve as a deterrent to anyone serious about the opportunity.</p>

<p>Each Trainer will receive monthly commissions for online sales and from all subscribers and as long as they maintain active training status. In addition, subscriber wants to be trained in person, EverFit does not ask for any of that income, so 100% of that income is the Trainer’s to keep as additional incentive to promote our online products and services.</p>

<p>To be an active Trainer, you must complete the Application Process. You also have the option to purchase our state of the art Video Package for $1500. Which include (5) completed videos uploaded to the Trainers blog inside the EverFit™ website. See Terms and Conditions for video timeline and structure requirements. Email us at info@liveeverfit.com for more details. To remain an Active Trainer once the videos are loaded your total sales must be at least $100 per month. Every trainer I have spoken to says that just one of their clients could spend easily 2x this amount monthly, so this should not serve as a deterrent to anyone serious about the opportunity.</p>

<h3>Passive income generators</h3>
<ul>
<li>Active Trainers will receive (5%) commission on all “EverFit” clothing, Equipment, Supplements, music, food and LIVE class sales. </li>
<li>Additional income made from Personal Training outside of the LiveEverFit.com website is an added bonus provided by the EverFit™ marketing that is the Trainer’s to keep. </li>
<li>Monthly and annual cash bonuses to be paid to each Video Promoter based on exceeding sales goals. </li>
<li>Active Trainers have the opportunity to acquire retail sales for our EverFit™ clothing line, for which a 5% sales commission would be paid for all orders. This includes sales to Gym’s, Boutiques, Department Stores and any other retail selling location. </li>
</ul>

<p>I sincerely hope that you can see the benefits that EverFit™ has created for each trainer, their clients and their potential clients. For those of you who “Do not have any time”, this is exactly what you need. EverFit is your personal assistant, your website programmer, your inventory manager, and your additional income earner all in one and ready to serve you! I hope you join the LiveEverFit.com team. </p>

<p>Wishing you the best in Health and Wealth, 
Rory Caton CEO EverFit™</p>

<h3>Income Example</h3>

<p>Let me give you an example that I was given from one of our existing Trainers to help you calculate what personal income is possible through BeForeverFit.com:</p>
<ul>
<li>How many individuals are you currently training and how many Facebook friends and followers do you have? </li>
<li>What percentage of these individuals could you get to purchase their supplements/equipment/clothing/workout music from BeForeverFit.com? (Remember they are already spending this money. You simply need to direct them to our quality products.) </li>
<li>What do you think is the average amount of money each of these individuals spends a month on all of these items? </li>
</ul>

<p>Now to help you work the math:</p>
<ul>
<li>Take the number of people you think you can bring to LiveEverFit.com from your immediate network </li>
<li>Multiply that by what you think they spend on average each month</li>
<li>Multiply that number by your commission of 5%</li>
</ul>

<p>What you get is just the beginning of what you could be making each month as passive income for simply recording a few videos and maintaining a blog, which many of you are doing already. I hope that you would like to receive a check every month for the number you came up with and will join me in making BeForeverFit.com the largest and most inclusive fitness network on the web. We will surely succeed more by riding the large wave we all create together.</p>


<p>*MUST ENROLL IN DIRECT DEPOSIT FOR COMMISSION AND BONUS PAYMENTS. </p>

<p>*THESE POLICIES CONTAIN STATEMENTS REGARDING THE EVER FIT COMPENSATION PLAN. THERE ARE NO GUARANTEES REGARDING INCOME, AND THE SUCCESS OR FAILURE OF EACH EVERFIT INDEPENDENT CONSULTANT, LIKE ANY OTHER INDEPENDENT BUSINESS, DEPENDS UPON EACH EVER FIT PROMOTER’S OWN SKILLS AND PERSONAL EFFORT. </p>

<h3>Most Common Questions Answered</h3>

<h3>How are my commissions calculated?</h3>

<p>Any individual Trainer can sign up an unlimited number of Clients. Just send and post your affiliate link via email, social media, or text, and any user or professional that signs up for free from that link will be tied to your commission account for as long as they have an account on www.liveeverfit.com </p>

<p>Once the client signs up, they will get unlimited access to the entire video library and the entire LiveEverFit.com website. The potential for unlimited income is based on how well each Trainer promotes themselves and the products available on our site. It is truly limitless because unlike doing a website on your own, LiveEverFit.com has power in group marketing and the ability to generate far more Clients for each Trainer because of our large online presence.</p>

<h3>What if I already have a supplement deal or non-compete?</h3>

<p>I have personally spoken with the owners of one of the largest supplement companies in the country about this issue and there is no violation of your contract by joining LiveEverFit.com. We are presenting all of the top supplements for our Trainers to promote in a completely unbiased manner. Due to the variety of trainers we need to have a variety of products. As long as the individual Trainer who has the supplement agreement only promotes that supplement on their LiveEverFit.com blog, there is no violation of the contract. It is not different than representing a brand that is sold in a supermarket. Just because the supermarket is selling other brands does not mean the Promoter/Trainer is violating their commitment.</p>

<h3>What if my Gym thinks it is a violation of our contract?</h3>

<p>LiveEverFit.com is not in competition with any gym. We are marketing to those people who want to increase their personal level of fitness. These are the same people targeted by gyms. Giving the gym’s Trainers additional marketing exposure to these potential Clients will do nothing but add to the gym’s marketing exposure for FREE. All of the Subscribers who are looking for in-person training and find a Trainer they love through LiveEverFit.com will have to join a gym; and they are going to join the gym where the Trainer is already training. That is a complete win-win-win for the Client, Trainer, Gym and LiveEverFit.com.</p>



</div>
</div>

<div ng-if="user_type == 'user'" class="row">
    <div class="col-sm-12">
        <h3>How do I change my account settings?</h3>
<p>Underneath the profile icon in your upper right hand corner you can change your account setting such as your user name, password, and address and change your profile picture.</p>

<h3>How do I contact an EverFit™ Professional?</h3>
<p>Once you choose the EverFit™ professional you would like to work with from the “Fitness Professionals” tab, click “Train with me” located on their cover image. A drop down will show you their email address. 
What if I am not satisfied with a product I ordered?</p>
<p>lease refer to the shipping and return policies located inside of the EverFit Store. Click on the “Return” link from the settings drop down located in the upper right hand corner and follow the prompts to begin the return process.</p>

<h3>How do I Contact EverFit™?</h3>
<p>You can utilize the Contact Us link at the top of your page.  An EverFit™ team member will respond within 24 hours. If you need immediate assistance, use the Live Chat feature on the EverFit Shop page.</p>

<h3>I emailed an  EverFit™ Professional and have not received a response from them for more than 48 hours?</h3>
<p>In the event that you are not satisfied with the services one of our Fitness Professional has provided, please let us know using the Contact Us form or Comment link at the bottom of the homepage. Your satisfaction is very important to us.</p>

<h3>How do I communicate with my trainer before I choose to train with them?</h3>
<p>Of course, who wouldn’t want to talk to the person who will be your new motivator! Feel free to comment on their blogs, read their “FAQ’s” page, and comment on any videos or statuses they post to ask questions. </p>

<h3>How do I cancel my account?</h3>
<p>You can manage your account via your settings page. You may also email us at customerservice@liveeverfit.com. </p>

<h3>I am interested in becoming an EverFit™ Professional. What do I do next?</h3>
<p>We would love to have you on the team! Whether you are a trainer, nutritionist, or promoter we have something for you. Upgrade to an EverFit™ Professional by going to your profile settings, then click upgrade and follow the prompts. Congrats and welcome to the team!</p>

<h3>How do I Flag and inappropriate post?</h3>
<p>We do our best to monitor the quality of posts, but in the event that one slips by us, click the gear icon on the upper right hand corner of the post, then flag. We will receive a notification and take it from there. Thanks for letting us know!</p>

<h3>How do I invite my friends and family?</h3>
<p>Solid move! Not only do you get extra reward points from your friends and family that join under your affiliate link, you now have a circle of motivation to keep you going.  Share your affiliate link to all of your other social media accounts and when join, you win!</p>
</div>

</div>
</div>